body {
  display: grid;
  /* Tilføj navngivne linjer */
  grid-template-columns: [full-start] 1fr [content-start] minmax(0, 70ch) [content-end] 1fr [full-end];
}

header, main, footer {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content-start / content-end;
}

.breakout {
  background: #a8fad5;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: full-start / full-end;
}
.breakout > * {
    grid-column: content-start / content-end;
}
.breakout > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 600px) {
    body {
        grid-template-columns: [full-start content-start] 1fr [content-end full-end];

    }
    .breakout > div {
        grid-template-columns: 1fr;
    }
}